body, label, h1, h2 {
	color: #FFFFFF;
}

body {
	background-color: rgba(12,84,150,.6);
}
.flashes {
	background-color: rgba(12,84,150,.6);
	color: black;
}
ul {
	line-height: 1.25rem;
}

h1 {
	font-size: 1.8rem;
}

h2 {
	font-size: 1.4rem;
	line-height: 1rem;
}
.page-index {
	/*background-color: #0c5496;*/
	/*background-color: rgba(12,84,150,.6);*/
	/*height:100%;*/
	padding-top: 100px;
}

.page-member-details {
	/*background-color: #22B573;*/
	/*background-color: rgba(12,84,150,.6);*/
	/*height:600px;*/
	padding-top: 1rem;
	padding-left: 3rem;
}

.page-register-to-vote {
	/*background-color: #22B573;*/
	/*background-color: rgba(12,84,150,.6);*/
	/*height:600px;*/
	padding-top: 3rem;
	padding-left: 3rem;
}

.voting-status {
	font-size: 1.6rem;
}

.submit-center {
 text-align: center;
}

.page-member-not-found {
	/*background-color: #FF1D25;*/
	/*background-color: rgba(12,84,150,.6);*/
	/*height:480px;*/
	padding-top: 10rem;
}
