<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% assets "scss_all" %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}

    {% if title %}
    <title>{{ title }} - Dallas Makerspace</title>
    {% else %}
    <title>Welcome to DMS RFID Member Info Portal</title>
    {% endif %}
  </head>
  <body>

    {% block content %}
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script  type="text/javascript" src="/static/js/javascript.js"></script>
  </body>
</html>
