{% extends "base.html" %}

{% block content %}
<div class='row page-member-details'>
  <div class="row">
      <div class="small-6 columns">
        <h1>Member Info</h1>
        <h2>{{ details['result']['user']['fullName'] }}</h2>
        <!-- {{details}} -->
        eMail: {{ details['result']['user']['email'] }}
        <br/>Phone: {{ details['result']['user']['phone'] }}
        <br/>User name: {{ details['result']['user']['username'] }}
        <!-- <br/>Access: {{ details['result']['accessGranted'] }} -->
      </div>
      <div class="small-6 columns">
        <br/>Look for <b>Voting Members</b> below to see if you have Voting Rights.
        <br/>EMail <b>Accounts@DallasMakerspace.org</b> to add Voting Rights.
        <!-- <h2>You're Registered to Vote</h2> -->
        <!-- <img src="static/images/thumbsUp.svg"/> -->
      </div>
  </div>

  <div class="row">
      <div class="small-6 columns">
      <h2>Authorized Equipment List </h2>
      <ul>
      {% for element in details['result']['user']['groups'] %}
        <li> {{ element }} </li>
      {% endfor %}
      </ul>
    </div>
      <div class="small-6 columns">
        <!-- <ul>
          <li>group</li>
          <li>group</li>
          <li>group</li>
        </ul> -->
      </div>
  </div>
</div>
{% endblock %}
